body {
    background: #f7d0d0 url(imagenes/fondo.jpg) repeat top left;
    color: #333;
    /* font-family: 'Oswald', Arial, sans-serif;
	font-size: 13px; */
}

.nav-item {
    list-style-type: none;
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: start;
}

.nav-item {
    /* width:200px; */
    padding: 3px 3px 3px 3px;
    text-align: start;
    transition: all 3s ease;
}

.nav-item img {

    display: block;
    transform: scale(0.2);
    transition: all 2s ease;
}

.nav-item:hover {
    background-color: rgba(200, 200, 200, .5);
    border-radius: 2px;
    cursor: pointer;
}

.nav-item:hover img {
    transform: scale(1);
}

.nav-link {
    transform: scale(1);
    transition: all 1s ease;
}

.nav-link:hover {
    /* font-style: oblique; */
    color: #bcf5e4;
    font-size: 120%;
    /* cursor: pointer; */
}


.card {

    text-align: center;
    transition: all 0.3s ease;

}

.card:hover {
    transform: scale(1.1);
    margin: 50px 50px;
    background: #676470;
    color: #fff;
}